{% set title_name = 'Manage Facility' %}

{% extends 'AyReservationBundle::layout.html.twig' %}

{% block content %}
    <div class="ay-item">
        <button type="button" id="ay-btn-new" class="btn">{{ 'New' | trans }}</button>
    </div>
    <div>
        <table id="ay-pager-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="ay-hide">id</th>
                    <th>{{ 'No.' | trans }}</th>
                    <th>{{ 'Name' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for facility in facilities %}
                    <tr class="ay-sel-row{% if facility.deleted %} ay-deleted{% endif %}">
                        <td class="ay-sel-id ay-hide">{{ facility.id }}</td>
                        <td>{{ loop.index }}</td>
                        <td>{{ facility.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function(){
    
    $('#ay-pager-table').DataTable({
        "language": {
            "url": "{{ asset('js/dataTables.japanese.json') }}"
        }
    });

    $("#ay-btn-new").click( function(){
        location.replace('{{ path('facility_create') }}');
    });

    $(".ay-sel-row").click( function(){
        location.replace(Routing.generate('facility_update', { id: $(this).children(".ay-sel-id").text() }));
    });

});
</script>
{% endblock %}
